body{
   background-color: rgb(255, 255, 255); 
}
.hom{
    background-color: rgb(255, 150, 31);
    color: black;
    text-decoration: none;
}
.genx{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.coder-grid{display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;}
    .coder-card{background:var(--card);
        border-radius:10px;
        overflow:hidden;
        
        text-align:center;
        box-shadow:0 3px 10px rgba(0,0,0,0.1);
        transition:0.3s;}
    .coder-card:hover{
        transform:translateY(-5px);
    }
    .ABK{
        text-align: center;
        color: green;
        
        

    }
    .coder-card img{width:100%;
        height:200px;
        object-fit:cover;}
    .coder-card h4{
        color:var(--accent);
        margin:10px 0 5px;}
    .coder-card p{font-size:0.9rem;
        margin-bottom:10px;}
    .tag{background:var(--accent);
        color:white;
        padding:3px 10px;border-radius:5px;font-size:0.8rem;
    }